.l- {
    &contents {
        padding-top: 60px;
    }
    &slider {
        overflow: hidden;
        height: 300px;
        margin-bottom: 60px;
        ul {
            display: flex;
            width: 5000px;//仮値
            height: 100%;
        }
        img {
            height: 100%;
        }
    }
    &item {
        margin: 0 auto 60px auto;
    }
}