.c- {
	&sns {
		text-align: center;
		&Item {
			display: inline-block;
			margin: 0 10px;
			a {
				display: flex;
				align-items: center;
			}
		}
		&__icon {
			width: 25px;
			margin-right: 10px;
		}
		&__name {
			color: #fff;
		}
	}
}

@media screen and (max-width: 768px) {
    .c- {
		&sns {
			&Item{
				font-size: 10px;
			}
		}
    }
}